<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/savereg/" method="POST">
    {% csrf_token %}
        username:<input type="text" id="username" name="username"><br>
        password:<input type="password" id="password" name="password"><br>
        email:<input type="email" id="email" name="email"><br>
        <button type="submit">submit</button>
    </form>
</body>
</html>