<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/logincheck/" method="POST">
        {% csrf_token %}
        username:<input type="text" name="username" id="username"><br>
        password:<input type="password" name="password" id="password"><br>
        <button type="submit" value="login">login</button>
    </form>
</body>
</html>